<div id="myModal" class="modal" style="overflow: auto;">
    <div class="modal-content" style="width: 50%;">
        <div style="display: flex; justify-content: flex-end; font-size: x-large;">
            <i class="fa-solid fa-xmark icerrar" (click)="cerrarModal()"></i>
        </div>
        <label>Nombre del evento: </label><span class="msg">*{{alertas[0]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="text" placeholder="Nombre del evento" style="height: 2.5rem;"
            [ngClass]="{'changed': eventoNuevo['nombre']!=evento['nombre']}" [(ngModel)]="eventoNuevo['nombre']">
            <span class="focus-border2"></span>
        </div>
        <label>Categoria: </label><span class="msg">{{alertas[1]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="eventoNuevo['categoria']" style="width: 100%; height: 2.5rem;"
            [ngClass]="{'changed': eventoNuevo['categoria']!=evento['categoria']}">
                <option value='Autos y motos'>Autos y motos</option> 
                <option value='Movimiento y transporte'>Movimiento y transporte</option> 
                <option value='Maquinas y equipos'>Maquinas y equipos</option> 
                <option value='Rezagos'>Rezagos</option> 
                <option value='Inmuebles'>Inmuebles</option> 
                <option value='Varios'>Varios</option>
            </select>
            <span class="focus-border2"></span>
        </div>
        <label>Fecha de inicio: </label><span class="msg">*{{alertas[2]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="date" placeholder="Fecha de inicio" style="height: 2.5rem;"
            [ngClass]="{'changed': eventoNuevo['fecha_inicio']!=evento['fecha_inicio']}" [(ngModel)]="eventoNuevo['fecha_inicio']">
            <span class="focus-border2"></span>
        </div>
        <label>Fecha de cierre: </label><span class="msg">*{{alertas[3]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="date" placeholder="Fecha de cierre" style="height: 2.5rem;"
            [ngClass]="{'changed': eventoNuevo['fecha_cierre']!=evento['fecha_cierre']}" [(ngModel)]="eventoNuevo['fecha_cierre']">
            <span class="focus-border2"></span>
        </div>
        <label>Modalidad: </label><span class="msg">{{alertas[4]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="eventoNuevo['modalidad']" 
            [ngClass]="{'changed': eventoNuevo['modalidad']!=evento['modalidad']}" style="width: 100%; height: 2.5rem;">
                <option value='Remates'>Remates</option> 
            </select>
            <span class="focus-border2"></span>
        </div>
        <label>Publicar fecha de cierre: </label><span class="msg">{{alertas[5]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="eventoNuevo['publicar_cierre']"
            [ngClass]="{'changed': eventoNuevo['publicar_cierre']!=evento['publicar_cierre']}" style="width: 100%; height: 2.5rem;">
                <option [ngValue]=true>Si</option> 
                <option [ngValue]=false>No</option> 
            </select>
            <span class="focus-border2"></span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: row; margin-bottom: 2%; text-align: center;">
            <i class="fa-solid" [ngClass]="{'fa-circle-check verde':eventoNuevo['inicio_automatico'], 'fa-circle-xmark rojo':!eventoNuevo['inicio_automatico']}" style="font-size: larger; margin-right: 1%; cursor: pointer;" (click)="eventoNuevo['inicio_automatico']=!eventoNuevo['inicio_automatico']"></i> Inicio automatico
        </div>
        <label>Lotes del evento: </label>
        <div style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; align-items: center;">
            <div class="celda" style="width: 25%;">Titulo</div>
            <div class="celda" style="width: 25%;">Precio Base</div>
            <div class="celda" style="width: 25%;">Incremento</div>
            <div class="celda" style="width: 25%;">Precio salida</div>
            <div class="celda" style="border-right: none; width: 3rem;"></div>
        </div>
        <div *ngFor="let lote of lotes" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; align-items: center;">
            <div class="celda username" style="width: 25%;">{{lote['titulo']}}</div>
            <div class="celda username" style="width: 25%;">{{lote['moneda']}} {{lote['precio_base']}}</div>
            <div class="celda username" style="width: 25%;">{{lote['moneda']}} {{lote['incremento']}}</div>
            <div class="celda username" style="width: 25%;">{{(lote['precio_salida']!='null' && lote['precio_salida']!='') ? lote['moneda']+' '+lote['precio_salida'] : '-'}}</div>
            <div class="celda" style="border-right: none; width: 3rem;">
                <i class="fa-solid fa-trash-can boton2 border rounded ibtn" (click)="eliminar(lote['uuid'],lote['titulo'])" style="height: 2rem;"></i>
            </div>
        </div>
        <div *ngIf="lotes.length==0" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; text-align: center;">
            <div class="celda username" style="width: 100%; border-right: none;">No hay lotes asignados</div>
        </div>
        <button class="boton boton2 border" style="width: 100%; margin-bottom: 2%; height: 2rem;" (click)="lotesListaModal()">Agregar lote</button>
        <div style="display: flex; justify-content: flex-end;">
            <button class="border rounded boton boton2 botones" (click)="actualizarEvento()">Actualizar</button>
        </div>
    </div>
</div>

<app-lista-lotes [ngClass]="{ 'oculto':!lotesLista }" (messageEvent)="handleMessage($event)" [agregados]="agregados"></app-lista-lotes>