<div class="svh" >
<div class="border margin5 rounded seccion" style="width: 100%; justify-content: center;">
    <h1>Verificando su Email</h1>
    <div *ngIf="verificado==null"><i class="fa-solid fa-spinner ispinner" style="font-size: 3rem;"></i></div>
    <div *ngIf="verificado" class="center"><i class="fa-solid fa-check" style="font-size: 3rem;"></i>Cuenta verificada con exito</div>
    <div *ngIf="verificado==false" class="center"><i class="fa-solid fa-xmark" style="font-size: 3rem;"></i>Error al verificar cuenta. Intentelo de nuevo</div>
</div>
</div>