h1{
    text-decoration: underline;
    color: var(--blue);
}
.ispinner{
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    color: var(--amarello);
}
  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.center{
    display: flex;
    align-items: center;
}
