<div class="borderAzul margin5 rounded" style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
        <h1>Usuarios</h1>
        <div>
            <button class="boton boton2 border rounded botones">Imprimir</button>
            <button class="boton boton2 border rounded botones">Agregar usuario</button>
        </div>
    </div>
    <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%;"></div>
    <h2 class="load" *ngIf="Usuarios.length==0 && !error"><i class="fa-solid fa-spinner ispinner" style="font-size: 3rem;"></i> Cargando</h2>
    <h2 *ngIf="error">Error al cargar usuarios</h2>
    <div *ngFor="let u of Usuarios; index as i" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%;">
        <div class="celda username" style="width: 25%;">
            <i [ngClass]="{'fa-user' : u['tipo']=='user', 'fa-building-user' : u['tipo']=='emp', 'fa-gears' : u['tipo']=='viejo'}" class="fa-solid "></i>
            <ng-container *ngIf="u['dato_empresa']; else userBlock">{{u['dato_empresa']['nombre_comercial']}}</ng-container><ng-template #userBlock>{{u['nombre_apellido']}}</ng-template>
        </div>
        <div class="celda username" style="width: 25%;">{{u['mail']}}</div>
        <div class="celda username" style="width: 12%;">{{u['telefono']}}</div>
        <div class="celda username" style="width: 12%;">{{u['cuil_cuit']}}</div>
        <div class="celda" style="border-right: none; display: flex; justify-content: flex-end; font-size: medium; padding-top: 0.5%; padding-bottom: 0.5%;">
            <i class="fa-solid fa-clock ibtn tooltip">
                <span class="tooltiptext glassTrue rounded border">{{u['ultima_conexion']=='' ? 'No hay ultima conexion' : u['ultima_conexion']}}</span>
            </i>
            <i class="fa-solid fa-user ibtn tooltip" [ngClass]="{'verde':u['habilitado'], 'rojo':!u['habilitado'] }">
                <span class="tooltiptext glassTrue rounded border">{{u['habilitado'] ? 'Habilitado' : 'Deshabilitado'}}</span>
            </i>
            <i class="fa-solid fa-at ibtn tooltip" [ngClass]="{'verde':u['validado'], 'rojo':!u['validado'] }">
                <span class="tooltiptext glassTrue rounded border">{{u['validado'] ? 'Validado' : 'Invalidado'}}</span>
            </i>
            <i class="fa-regular fa-eye boton2 border rounded ibtn" (click)="ver(i)"></i>
            <i class="fa-solid fa-pen-to-square boton2 border rounded ibtn" (click)="verCambio(i)"></i>
            <i *ngIf="u['dato_empresa']" class="fa-solid fa-trash-can boton2 border rounded ibtn" (click)="eliminar(u['_id'],u['dato_empresa']['nombre_comercial'])"></i>
            <i *ngIf="!u['dato_empresa']" class="fa-solid fa-trash-can boton2 border rounded ibtn" (click)="eliminar(u['_id'],u['nombre_apellido'])"></i>
        </div>
    </div>
    <div *ngIf="Usuarios.length!=0" style="font-family: Avenir; margin-top: 2%; display: flex; justify-content: flex-end; width: 100%; align-items: center;">
        Pagina {{pagina+1}} de {{pagU}}
        <div style="margin-right: 2%; margin-left: 2%;">
            <button class="border rounded boton boton2 paginacion" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" (click)="atras()">Atras</button>
            <button class="border rounded boton boton2 paginacion" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="siguiente()">Siguiente</button>    
        </div>
        Usuarios totales: {{Total}}
    </div>
</div>
<!-- Modal ver -->
<div id="myModal" class="modal" [ngClass]="{'oculto':!mostrar, '':mostrar }">
    <div class="modal-content">
        <div style="display: flex; justify-content: flex-end; font-size: x-large;">
            <i class="fa-solid fa-xmark icerrar" (click)="ver(-1)"></i>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Nombre:</span> {{datoMostrar["nombre_apellido"]}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">CUIL/CUIT:</span> {{datoMostrar["cuil_cuit"]}}
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Mail:</span> {{datoMostrar["mail"]}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Telefono:</span> {{datoMostrar["telefono"]}}
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Pais:</span> {{datoMostrar["pais"]}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Provincia:</span> {{datoMostrar["provincia"]}}
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Ciudad:</span> {{datoMostrar["ciudad"]}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Codigo Postal:</span> {{datoMostrar["postal"]}}
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Domicilio:</span> {{datoMostrar["domicilio"]}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Actividad:</span> {{datoMostrar["actividad"]}}
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Validado:</span> {{datoMostrar["validado"]? 'validado' : 'invalidado'}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Habilitado:</span> {{datoMostrar["habilitado"]? 'habilitado' : 'deshabilitado' }}
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda borderAbajo" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Como encontro:</span> {{datoMostrar["como_encontro"]}}
            </div>
            <div class="celda borderAbajo" style="width: 50%; border-right: none;">
                <!-- <span style="font-weight: bold; text-decoration: underline; width: 35%;">Ultima conexion:</span> {{datoMostrar["ultima_conexion"]}} -->
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Tipo de cuenta:</span> {{datoMostrar["tipo"]=='user' ? 'Usuario' : datoMostrar["tipo"]=='emp' ? 'Empresa' : 'Necesita definir'}}
            </div>
            <div class="celda" style="width: 50%; border-right: none;"></div>
        </div>
        <div style="display: flex;" *ngIf="datoMostrar['tipo']=='emp'">
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Nombre comercial:</span> {{datoMostrarEMP["nombre_comercial"]}}
            </div>
            <div class="celda" style="width: 50%;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Razon social:</span> {{datoMostrarEMP["razon_social"]}}
            </div>
        </div>
    </div>
</div>
<!-- Modal cambiar -->
<div id="myModal" class="modal" [ngClass]="{'oculto':!mostrarCambio, '':mostrarCambio }">
    <div class="modal-content">
        <div style="display: flex; justify-content: flex-end; font-size: x-large;">
            <i class="fa-solid fa-xmark icerrar" (click)="verCambio(-1)"></i>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center; display: flex; align-items: center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Nombre:</span> 
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["nombre_apellido"]' [(ngModel)]="datoCambio['nombre_apellido']"
                    [ngClass]="{'changed': datoCambio['nombre_apellido']!=datoCambioCheck['nombre_apellido']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">CUIL/CUIT:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["cuil_cuit"]' [(ngModel)]="datoCambio['cuil_cuit']"
                    [ngClass]="{'changed': datoCambio['cuil_cuit']!=datoCambioCheck['cuil_cuit']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Mail:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["mail"]' [(ngModel)]="datoCambio['mail']"
                    [ngClass]="{'changed': datoCambio['mail']!=datoCambioCheck['mail']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Telefono:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["telefono"]' [(ngModel)]="datoCambio['telefono']"
                    [ngClass]="{'changed': datoCambio['telefono']!=datoCambioCheck['telefono']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Pais:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <select class="effect-1" [value]='datoCambio["pais"]' [(ngModel)]="datoCambio['pais']" (change)="getPais(true)"
                    [ngClass]="{'changed': datoCambio['pais']!=datoCambioCheck['pais']}" style="width: 100%; height: 2rem; background: #ececec;">
                        <ng-container *ngFor="let p of Paises, index as i">
                            <option value="{{p.name}}" selected>{{p.name}}</option>
                        </ng-container>
                    </select>
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Provincia:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <select class="effect-1" [value]='datoCambio["provincia"]' [(ngModel)]='datoCambio["provincia"]'
                    [ngClass]="{'changed': datoCambio['provincia']!=datoCambioCheck['provincia']}" style="width: 100%; height: 2rem; background: #ececec;">
                        <ng-container *ngFor="let p of Paises[paisI].states, index as i">
                            <option value="{{Paises[paisI].states[i]}}" selected>{{Paises[paisI].states[i]}}</option>
                        </ng-container>
                    </select>
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Ciudad:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["ciudad"]' [(ngModel)]="datoCambio['ciudad']"
                    [ngClass]="{'changed': datoCambio['ciudad']!=datoCambioCheck['ciudad']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Codigo Postal:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["postal"]' [(ngModel)]="datoCambio['postal']"
                    [ngClass]="{'changed': datoCambio['postal']!=datoCambioCheck['postal']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Domicilio:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["domicilio"]' [(ngModel)]="datoCambio['domicilio']"
                    [ngClass]="{'changed': datoCambio['domicilio']!=datoCambioCheck['domicilio']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Actividad:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <select class="effect-1" [value]='datoCambio["actividad"]' [(ngModel)]="datoCambio['actividad']"
                    [ngClass]="{'changed': datoCambio['actividad']!=datoCambioCheck['actividad']}" style="width: 100%; height: 2rem; background: #ececec;">
                        <option value="ACTIVIDADES ADMINISTRATIVAS Y SERVICIOS DE APOYO">ACTIVIDADES ADMINISTRATIVAS Y SERVICIOS DE APOYO</option>
                        <option value="ADMINISTRACION PUBLICA, DEFENSA Y SEGURIDAD SOCIAL OBLIGATORIA">ADMINISTRACION PUBLICA, DEFENSA Y SEGURIDAD SOCIAL OBLIGATORIA</option>
                        <option value="AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y PESCA">AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y PESCA</option>
                        <option value="COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACIÓN DE VEHÍCULOS AUTOMOTORES Y MOTOCICLETAS">COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACIÓN DE VEHÍCULOS AUTOMOTORES Y MOTOCICLETAS</option>
                        <option value="CONSTRUCCIÓN">CONSTRUCCIÓN</option>
                        <option value="ENSEÑANZA">ENSEÑANZA</option>
                        <option value="EXPLOTACIÓN DE MINAS Y CANTERAS">EXPLOTACIÓN DE MINAS Y CANTERAS</option>
                        <option value="INDUSTRIA MANUFACTURERA">INDUSTRIA MANUFACTURERA</option>
                        <option value="INFORMACIÓN Y COMUNICACIONES">INFORMACIÓN Y COMUNICACIONES</option>
                        <option value="INTERMEDIACIÓN FINANCIERA Y SERVICIOS DE SEGUROS">INTERMEDIACIÓN FINANCIERA Y SERVICIOS DE SEGUROS</option>
                        <option value="SALUD HUMANA Y SERVICIOS SOCIALES">SALUD HUMANA Y SERVICIOS SOCIALES</option>
                        <option value="SERVICIOS ARTÍSTICOS, CULTURALES, DEPORTIVOS Y DE ESPARCIMIENTO">SERVICIOS ARTÍSTICOS, CULTURALES, DEPORTIVOS Y DE ESPARCIMIENTO</option>
                        <option value="SERVICIOS DE ALOJAMIENTO Y SERVICIOS DE COMIDA">SERVICIOS DE ALOJAMIENTO Y SERVICIOS DE COMIDA</option>
                        <option value="SERVICIOS DE ASOCIACIONES Y SERVICIOS PERSONALES">SERVICIOS DE ASOCIACIONES Y SERVICIOS PERSONALES</option>
                        <option value="SERVICIOS DE HOGARES PRIVADOS QUE CONTRATAN SERVICIO DOMESTICO">SERVICIOS DE HOGARES PRIVADOS QUE CONTRATAN SERVICIO DOMESTICO</option>
                        <option value="SERVICIOS DE ORGANIZACIONES Y ÓRGANOS EXTRATERRITORIALES">SERVICIOS DE ORGANIZACIONES Y ÓRGANOS EXTRATERRITORIALES</option>
                        <option value="SERVICIOS DE TRANSPORTE Y ALMACENAMIENTO">SERVICIOS DE TRANSPORTE Y ALMACENAMIENTO</option>
                        <option value="SERVICIOS INMOBILIARIOS">SERVICIOS INMOBILIARIOS</option>
                        <option value="SERVICIOS PROFESIONALES, CIENTÍFICOS Y TÉCNICOS">SERVICIOS PROFESIONALES, CIENTÍFICOS Y TÉCNICOS</option>
                        <option value="SUMINISTRO DE AGUA, CLOACAS, GESTIÓN DE RESIDUOS Y RECUPERACIÓN DE MATERIALES Y SANEAMIENTO PÚBLICO">SUMINISTRO DE AGUA, CLOACAS, GESTIÓN DE RESIDUOS Y RECUPERACIÓN DE MATERIALES Y SANEAMIENTO PÚBLICO</option>
                        <option value="SUMINISTRO DE ELECTRICIDAD, GAS, VAPOR Y AIRE ACONDICIONADO">SUMINISTRO DE ELECTRICIDAD, GAS, VAPOR Y AIRE ACONDICIONADO</option>
                        <option value="120">OTRA</option>
                    </select>
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%; margin-right: 2%;">Validado: </span> {{datoCambio["validado"]? 'validado' : 'invalidado'}}
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Habilitado:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <select class="effect-1" [value]='datoCambio["habilitado"]' [(ngModel)]="datoCambio['habilitado']" (change)="checkCambio('habilitado')"
                    [ngClass]="{'changed': flagH}" style="width: 100%; height: 2rem; background: #ececec;">
                        <option value='true'>Habilitado</option>    
                        <option value='false'>Deshabilitado</option>
                    </select>
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda borderAbajo" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Como encontro:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambio["como_encontro"]' [(ngModel)]="datoCambio['como_encontro']"
                    [ngClass]="{'changed': datoCambio['como_encontro']!=datoCambioCheck['como_encontro']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda borderAbajo" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <!-- <span style="font-weight: bold; text-decoration: underline; width: 35%;">Ultima conexion:</span> {{datoCambio["ultima_conexion"]}} -->
            </div>
        </div>
        <div style="display: flex;">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Tipo de usuario:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <select class="effect-1" [value]='datoCambio["tipo"]' [(ngModel)]="datoCambio['tipo']"
                    [ngClass]="{'changed': datoCambio['tipo']!=datoCambioCheck['tipo']}" style="width: 100%; height: 2rem; background: #ececec;">
                        <option value='user'>Usuario</option>    
                        <option value='emp'>Empresa</option>
                    </select>
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;"></div>
        </div>
        <div style="display: flex;" *ngIf="datoCambio['tipo']=='emp'">
            <div class="celda" style="width: 50%; display:flex; align-items:center;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Nombre comercial:</span> 
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambioEMP["nombre_comercial"]' [(ngModel)]="datoCambioEMP['nombre_comercial']"
                    [ngClass]="{'changed': datoCambioEMP['nombre_comercial']!=datoCambioEMPCheck['nombre_comercial']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
            <div class="celda" style="width: 50%; display:flex; align-items:center; border-right: none;">
                <span style="font-weight: bold; text-decoration: underline; width: 35%;">Razon social:</span>
                <div class="col-3" style="width: 60%; margin-left: 2%;">
                    <input type="text" class="effect-1" [value]='datoCambioEMP["razon_social"]' [(ngModel)]="datoCambioEMP['razon_social']"
                    [ngClass]="{'changed': datoCambioEMP['razon_social']!=datoCambioEMPCheck['razon_social']}" style="width: 100%; height: 2rem; background: #ececec;">
                    <span class="focus-border2"></span>
                </div>
            </div>
        </div>
    </div>
</div>