<div class="svh border margin5 rounded seccion" style="height: 70vh; justify-content: center;">
    <div class="mitad" style="display: flex; flex-direction: column;">
        <div class="col-3" style="margin-bottom: 2%;">
            <label for="password">Nueva contraseña </label><span class="msg">{{alertas}}</span>
            <div style="display: flex;">
                <input class="effect-1" style="width: 90%;" type="{{type}}" placeholder="Contraseña" [(ngModel)]="pass1">
                <i [ngClass]="{'fa-eye-slash bgblack' : type=='password', 'fa-eye bgwhite' : type=='text'}" class="fa-solid" (click)="mostrar()"></i>
                <span class="focus-border"></span>
            </div>
        </div>
        <div class="col-3" style="margin-bottom: 2%;">
            <label for="password2">Repita nueva Contraseña </label><span class="msg">{{alertas}}</span>
            <div style="display: flex;">
                <input class="effect-1" style="width: 90%;" type="{{type}}" placeholder="Repita la Contraseña" [(ngModel)]="pass2">
                <i [ngClass]="{'fa-eye-slash bgblack' : type=='password', 'fa-eye bgwhite' : type=='text'}" class="fa-solid" (click)="mostrar()"></i>
                <span class="focus-border"></span>
            </div>
        </div>
        <div style="text-align: end;">
            <button class="boton border rounded botones" (click)="cambiar()">Cambiar</button>
        </div>
    </div>
</div>