<div class="svh" >
    <div class="border margin5 rounded seccion" style="width: 100%;">            
        <h1>Favoritos</h1>
        <div style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; align-items: center;">
            <div class="celda" style="width: 45%;">Lote</div>
            <div class="celda" style="width: 45%;">Evento</div>
            <div style="width: 10%; border-right: none;"></div>
        </div>
        <div *ngFor="let fav of Favoritos" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%;">
            <div class="celda" style="width: 45%;">{{fav['lote']['titulo']}}</div>
            <div class="celda" style="width: 45%;">{{fav['evento']['nombre']}}</div>
            <div style="width: 10%; border-right: none;">
                <button class="boton border" style="width: 100%; height: 100%;" [routerLink]="['/evento/', fav['uuid_evento'], 'lote', fav['uuid_lote']]">Ver</button>
            </div>
        </div>
        <div *ngIf="Favoritos.length==0" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; text-align: center;">
            <div class="celda username" style="width: 100%; border-right: none;">No hay lotes en favoritos</div>
        </div>
    </div>
</div>