<h1>Domicilio</h1>
<div style="display: flex; margin-bottom: 2%;">
    <div class="col-3" style="margin-right: 2%;">
        <label for="pais">Pais </label><span class="msg">{{alertasDom[0]}}</span>
        <select (change)="sendDatosDom()" class="effect-1" [(ngModel)]="campos[0]">
            <option value=1000 selected hidden>Seleccione su pais</option>
            <ng-container *ngFor="let p of Paises, index as i">
                <option value="{{i}}" selected>{{p.name}}</option>
            </ng-container>
        </select>
        <span class="focus-border"></span>
    </div>
    <div class="col-3" *ngIf="campos[0]!=1000">
        <label for="state">Provincia </label><span class="msg">{{alertasDom[1]}}</span>
        <select (change)="sendDatosDom()" class="effect-1" [(ngModel)]="campos[1]">
            <option value=1000 selected hidden>Seleccione su Provincia</option>
            <ng-container *ngFor="let p of Paises[campos[0]].states, index as i">
                <option value="{{i}}" selected>{{Paises[campos[0]].states[i]}}</option>
            </ng-container>
        </select>
        <span class="focus-border"></span>
    </div>
</div>
<div style="display: flex; margin-bottom: 2%;" *ngIf="campos[1]!=1000">
    <div class="col-3" style="margin-right: 2%;">
        <label>Ciudad </label><br><span class="msg">{{alertasDom[2]}}</span>
        <input (change)="sendDatosDom()" class="effect-1" type="text" placeholder="Ej: Rosario" [(ngModel)]="campos[2]">
        <span class="focus-border"></span>
    </div>
    <div class="col-3" style="margin-right: 2%; width: 20%;">
        <label>Codigo postal </label><br><span class="msg">{{alertasDom[3]}}</span>
        <input (change)="sendDatosDom()" class="effect-1" maxlength="11" type="text" placeholder="Ej: 2000" [(ngModel)]="campos[3]">
        <span class="focus-border"></span>
    </div>
    <div class="col-3">
        <label>Domicilio completo </label><br><span class="msg">{{alertasDom[4]}}</span>
        <input (change)="sendDatosDom()" class="effect-1" maxlength="11" type="text" placeholder="Ej: SAN MARTIN 3058 Dtp 1º B" [(ngModel)]="campos[4]">
        <span class="focus-border"></span>
    </div>
</div>