<div class="navbar glass">
    <div style="align-items: center; display: flex; height: 100%;"><div class="logo" style="cursor: pointer;" (click)="activar('')"><span>Gruppo DF</span><span class="imagenLogo"></span></div></div> 
    <div *ngIf="widthC!=undefined && cap!=undefined && widthC>cap else mobile">
        <div class="btnnav" [ngClass]="{'activa' : activa=='eventos'}" (click)="activar('publicaciones')"><span>Finalizadas</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='registro'}" (click)="activar('registro')"><span>¿Como registrarse?</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='nosotros'}" (click)="activar('nosotros')"><span>¿Quienes somos?</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='contacto'}" (click)="activar('contacto')"><span>Contacto</span></div>
    </div>
    <div *ngIf="widthC!=undefined && cap!=undefined && widthC>cap">
        <div class="btnnav" [ngClass]="{'activa' : activa=='login'}" (click)="open2()">
            <span class="ingresar">
                <i class="fa-solid fa-user iuser">
                </i><ng-container *ngIf="User==''; else nameBlock">Ingresar</ng-container><ng-template #nameBlock><span class="username">{{User}}</span></ng-template>
            </span>
        </div>
    </div>
    <ng-template #mobile>
        <div style="display: flex;">
            <i class="fa-solid fa-user" (click)="open2()"></i>
            <i [ngClass]="{'fa-bars' : !menuOpen, 'fa-xmark' : menuOpen}" class="fa-solid" (click)="open()"></i>    
        </div>
    </ng-template>
</div>
<div *ngIf="widthC!=undefined && cap!=undefined && widthC<cap" class="menu glassTrue" [ngClass]="{'none' : !menuOpen}">
    <div (click)="activar('publicaciones')"><span>Finalizadas</span></div>
    <div (click)="activar('registro')"><span>¿Como registrarse?</span></div>
    <div (click)="activar('nosotros')"><span>¿Quienes somos?</span></div>
    <div (click)="activar('contacto')"><span>Contacto</span></div>
</div>
<div class="menu menu2 glass" [ngClass]="{'none' : !menuOpen2, 'menu2mobile glassTrue' : (widthC!=undefined && cap!=undefined && widthC<cap)}">
    <div style="bottom: 0; position: fixed;">
        <ng-container *ngIf="User==''; else userBlock">
            <div class="col-3">
                <label for="emailL">Email</label>
                <input class="effect-1" type="email" id="emailL" placeholder="Email" [(ngModel)]="mail">
                <span class="focus-border"></span>
            </div>   
            <div class="col-3" style="margin-bottom: 0;">
                <label for="passL">Contraseña</label>
                <input type="{{type}}" class="effect-1" id="passL" placeholder="Contraseña" [(ngModel)]="pass">
                <span class="focus-border"></span>
            </div>
            <a (click)="cambiarPass()">Olvide mi contraseña</a>
            <button class="border rounded boton" (click)="login()">Ingresar</button>
            <span class="creartitle">¿No tenes una cuenta?</span>
            <button routerLink='login' class="border rounded boton" style="margin-top: 0; margin-bottom: 0;" (click)="open2()">Crear cuenta</button>
        </ng-container>
        <ng-template #userBlock>
            <button class="border rounded boton" style="display: flex; align-items: center;" routerLink='mi-perfil' (click)="cerrarMenus()"><i class="fa-solid fa-user iuser"></i> Mi perfil</button>    
            <button class="border rounded boton" style="display: flex; align-items: center;" routerLink="mis-adjudicados" (click)="cerrarMenus()"><i class="fa-solid fa-cart-shopping iuser"></i> Ofertas en análisis</button>    
            <button class="border rounded boton" style="display: flex; align-items: center;" routerLink='mis-ofertas' (click)="cerrarMenus()"><i class="fa-solid fa-calendar-days iuser"></i> Lotes ofertados</button>    
            <button class="border rounded boton" style="display: flex; align-items: center; margin-bottom: 2rem;" routerLink="mis-favoritos" (click)="cerrarMenus()"><i class="fa-solid fa-star iuser"></i> Favoritos</button>    
            <button class="border rounded boton" (click)="logout()">Cerrar session</button>    
        </ng-template>
    </div>
</div>