<div id="myModal" class="modal" style="overflow: auto;">
    <div class="modal-content" style="width: 50%;">
        <div style="display: flex; justify-content: flex-end; font-size: x-large;">
            <i class="fa-solid fa-xmark icerrar" (click)="cerrarModal()"></i>
        </div>
        <label>Nombre de la publicacion: </label><span class="msg">*{{alertas[0]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="text" placeholder="Nombre de la publicacion" style="height: 2.5rem;" [(ngModel)]="datos[0]">
            <span class="focus-border2"></span>
        </div>
        <label>Categoria: </label><span class="msg">{{alertas[1]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="datos[1]" style="width: 100%; height: 2.5rem;">
                <option value='Autos y motos' selected>Autos y motos</option> 
                <option value='Movimiento y transporte'>Movimiento y transporte</option> 
                <option value='Maquinas y equipos'>Maquinas y equipos</option> 
                <option value='Rezagos'>Rezagos</option> 
                <option value='Inmuebles'>Inmuebles</option> 
                <option value='Varios'>Varios</option>
            </select>
            <span class="focus-border2"></span>
        </div>
        <label>Fecha de inicio: </label><span class="msg">*{{alertas[2]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="date" placeholder="Fecha de inicio" style="height: 2.5rem;" [(ngModel)]="datos[2]">
            <span class="focus-border2"></span>
        </div>
        <label>Hora de inicio: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="time" placeholder="Hora de inicio" style="height: 2.5rem;" [(ngModel)]="datos[7]">
            <span class="focus-border2"></span>
        </div>
        <label>Fecha de cierre: </label><span class="msg">*{{alertas[3]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="date" placeholder="Fecha de cierre" style="height: 2.5rem;" [(ngModel)]="datos[3]">
            <span class="focus-border2"></span>
        </div>
        <label>Hora de cierre: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="time" placeholder="Hora de cierre" style="height: 2.5rem;" [(ngModel)]="datos[8]">
            <span class="focus-border2"></span>
        </div>
        <label>Segundos entre cierres: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="number" min="30" placeholder="Segundos entre cierras" style="height: 2.5rem;" [(ngModel)]="datos[9]">
            <span class="focus-border2"></span>
        </div>
        <label>Modalidad: </label><span class="msg">{{alertas[4]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="datos[4]" style="width: 100%; height: 2.5rem;">
                <option value='Subasta' selected>Subasta</option> 
                <option value='Remate'>Licitacion</option> 
            </select>
            <span class="focus-border2"></span>
        </div>
        <label>Grupo: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="datos[13]" style="width: 100%; height: 2.5rem;">
                <option value='general' selected>General</option>
                <option value='chocado'>Chocado</option>
                <option value='desarmadero'>Desarmadero</option>
                <option value='otro'>Otro</option>
            </select>
            <span class="focus-border2"></span>
        </div>
        <label>Publicar fecha de cierre: </label><span class="msg">{{alertas[5]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="datos[5]" style="width: 100%; height: 2.5rem;">
                <option value=true selected>Si</option> 
                <option value=false>No</option> 
            </select>
            <span class="focus-border2"></span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: row; margin-bottom: 2%; text-align: center;">
            <i class="fa-solid" [ngClass]="{'fa-circle-check verde':datos[6], 'fa-circle-xmark rojo':!datos[6]}" style="font-size: larger; margin-right: 1%; cursor: pointer;" (click)="datos[6]=!datos[6]"></i> Inicio automatico
        </div>
        <div class="col-3" style="display: flex; flex-direction: row; margin-bottom: 2%; text-align: center;">
            <i class="fa-solid" [ngClass]="{'fa-circle-check verde':datos[10], 'fa-circle-xmark rojo':!datos[10]}" style="font-size: larger; margin-right: 1%; cursor: pointer;" (click)="datos[10]=!datos[10]"></i> Mostrar precio
        </div>
        <div class="col-3" style="display: flex; flex-direction: row; margin-bottom: 2%; text-align: center;">
            <i class="fa-solid" [ngClass]="{'fa-circle-check verde':datos[11], 'fa-circle-xmark rojo':!datos[11]}" style="font-size: larger; margin-right: 1%; cursor: pointer;" (click)="datos[11]=!datos[11]"></i> Mostrar ganadores
        </div>
        <div class="col-3" style="display: flex; flex-direction: row; margin-bottom: 2%; text-align: center;">
            <i class="fa-solid" [ngClass]="{'fa-circle-check verde':datos[12], 'fa-circle-xmark rojo':!datos[12]}" style="font-size: larger; margin-right: 1%; cursor: pointer;" (click)="datos[12]=!datos[12]"></i> Mostrar ofertas
        </div>
        <label>Imagen de portada: </label><span class="msg">*{{alertas[7]}}</span>
        <div style="margin-top: 2%; text-align: center;">
            <img src="{{sources}}" alt="" style="width: 100px;">
        </div>
        <input type="file" name="imagen" id="imagen" #imagen accept="image/*," (change)="showImg($event)" style="margin-bottom: 2%;">
        <div style="display: flex; justify-content: flex-end;">
            <button class="border rounded boton boton2 botones" (click)="crearEvento()">Crear Publicacion</button>
        </div>
    </div>
</div>
