<div class="svh seccion">
    <div class="inicio foto">
        <p>
            <span>Venta de vehiculos online</span> <br>
            <span>mediante Subastas Web y/o Licitaciones electrónicas</span> <br>
            PARTICIPE YA!
        </p>
    </div>
    <div class="shadow"></div>
    <div style="min-height: 50vh; width: 100%; display: flex; align-items: center;">
        <div class="margin5" style="width: 100%; text-align: center; display: flex; flex-wrap: wrap; justify-content: center;">
            <span *ngIf="error==1">Inicie sesion para ver las publicaciones</span>
            <span *ngIf="error==2">No hay publicaciones para mostrar</span>
            <span *ngIf="error==3">Su cuenta debe ser habilitada para ver las publicaciones</span>
            <span *ngIf="Eventos.length==0 && error==0">No hay publicaciones para mostrar</span>
            <div *ngFor="let ev of Eventos, index as i" class="borderAzul rounded" style="width: 25rem; margin: 1%;">
                <div style="width: 100%; border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; flex-direction: column;">
                    <span class="boton boton2 glassAzul border rounded colorWhite" style="height: 2.5rem; position: absolute; width: 2.5rem; cursor: pointer;display: flex; align-items: center; justify-content: center; margin-left: 0.4rem; margin-top: 0.3rem;" (click)="verImagen(i)"><i class="fa-solid fa-maximize" style="font-size: x-large;"></i></span>
                    <img src="{{ev['img'].img}}" alt="" style="height: 200px; border-top-left-radius: 12px; border-top-right-radius: 12px;">
                </div>
                <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; align-items: center; justify-content: center; padding: 0.5rem;">{{ev['nombre']}}</div>
                <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; align-items: center; justify-content: center; padding: 0.5rem;">Inicio: {{ev['fecha_inicio']}}</div>
                <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; align-items: center; justify-content: center; padding: 0.5rem;">Cierre: {{ev['fecha_cierre']+'  '+ev['hora_cierre']}}</div>
                <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; align-items: center; justify-content: center; padding: 0.5rem;">Numero de lotes: {{ev['lotes'].length}}</div>
                <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; align-items: center; justify-content: center;">
                    <span class="glassAzul" style="width: 50%; border-right: 1px solid rgb(48, 131, 220, 0.2); padding: 0.5rem;">Vistos {{ev['vistas'].length}}/{{ev['lotes'].length}}</span>
                    <span style="background-color: greenyellow; width: 50%; padding: 0.5rem;">Ofertados {{ev['ofertas'].length}}/{{ev['lotes'].length}}</span>
                </div>
                <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); display: flex; align-items: center; justify-content: center; padding: 0.5rem;">Modalidad: {{ev['modalidad']}}</div>
                <div *ngIf="ev['estado']==1" style="width: 100%;">
                    <button class="rounded boton" style="width: 100%; border:none; border-top-left-radius: 0%; border-top-right-radius: 0%; height: 2rem;" [routerLink]="['/evento', ev.uuid]">Ver publicacion</button>    
                </div>
                <div *ngIf="ev['estado']==0" style="width: 100%;">
                    <span class="rounded glassAzul colorWhite" style="display: flex; width: 100%; border: none; border-top-left-radius: 0%; 
                    border-top-right-radius: 0%; height: 2rem; justify-content: center; align-items: center; font-family: Avenir;">Proximamente</span>    
                </div>
                <div *ngIf="ev['estado']==2" style="width: 100%;">
                    <!-- <span class="rounded glass" style="display: flex; width: 100%; border: none; border-top-left-radius: 0%; 
                    border-top-right-radius: 0%; height: 2rem; justify-content: center; align-items: center; font-family: Avenir;">Finalizado</span>     -->
                    <button class="rounded boton boton2" style="width: 100%; border:none; border-top-left-radius: 0%; border-top-right-radius: 0%; height: 2rem;" [routerLink]="['/evento', ev.uuid]">Finalizado</button>    
                </div>
            </div>
        </div>
    </div>
</div>

<app-ver-imagen [ngClass]="{ 'oculto':!verImg }" (messageEvent)="handleMessage($event,'crear')" [imagenes]="imagenes" [imagen]="0" [verImg]="verImg" [botones]="false"></app-ver-imagen>