<div id="myModal" class="modal" style="overflow: auto;">
    <div class="modal-content" style="width: 70%;">
        <div style="display: flex; justify-content: space-between; font-size: x-large; margin-bottom: 2%;">
            <button class="boton boton2 border rounded" (click)="generarExcel()" [disabled]="flagReporte">{{textReporte}}</button>
            <i class="fa-solid fa-xmark icerrar" (click)="cerrarModal()"></i>
        </div>
        <label>Titulo: </label>
        <div class="border rounded" style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;">
                {{lote['titulo']}}
            </span>
        </div>
        <label>Descripcion: </label>
        <div class="border rounded" style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;" [innerHTML]="lote['descripcion'] | sanitizeHtml"></span>
        </div>
        <label>Informacion: </label>
        <div class="border rounded" style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;">
                {{lote['informacion']=='' ? '-' : lote['informacion']}}
            </span>
        </div>
        <label>Aclaracion: </label>
        <div class="border rounded" style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;">
                {{lote['aclaracion']=='' ? '-' : lote['aclaracion']}}
            </span>
        </div>
        <div style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <label>Moneda: </label><span style="font-family: Avenir;">{{lote['moneda']}}</span>
        </div>
        <div style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <label>{{lote['base_salida'] ? 'Precio base' : 'Monto arranque'}}: </label><span style="font-family: Avenir;">{{lote['moneda']}} {{lote['precio_base']}}</span>
        </div>
        <div style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <label>Incremento: </label><span style="font-family: Avenir;">{{lote['moneda']}} {{lote['incremento']}}</span>
        </div>
        <div style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <label>{{lote['base_salida'] ? 'Precio salida' : 'Monto esperado'}}: </label><span style="font-family: Avenir;">{{(lote['precio_salida']!='null' && lote['precio_salida']!='') ? lote['moneda']+' '+lote['precio_salida'] : '-'}}</span>
        </div>
        <div style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <label>Estado: </label><span style="font-family: Avenir;">{{lote['disponible'] ? 'Disponible' : 'No disponible' }}</span>
        </div>
        <label>Imagenes del lote: </label>
        <div style="margin-top: 2%; text-align: center;">
            <span *ngFor="let src of imagenes">
                <img id=foto{{src.id}} src="{{src.link}}" alt="" style="width: 200px; cursor: pointer;" (click)="verImagen(src.id)">
            </span>
        </div>
        <!-- <label>Terminos y condiciones del lote: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <embed *ngIf="pdf!=null" width="100%" height="600px" [src]="pdf" type='application/pdf'>
        </div> -->
        <label>Ofertas: </label>
        <div style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; align-items: center;">
            <div class="celda">Fecha</div>
            <div class="celda">Publicacion</div>
            <div class="celda" style="width: 15rem;">Usuario</div>
            <div class="celda">Metodo</div>
            <!-- <div class="celda">Estado</div> -->
            <div class="celda" style="border-right: none; width: 8rem;">Monto</div>
        </div>
        <div *ngFor="let oferta of Ofertas" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%;">
            <div class="celda">{{oferta['fecha']}}</div>
            <div class="celda">{{oferta['evento']['nombre']}}</div>
            <div class="celda" style="width: 15rem;">{{oferta['mail']}}</div>
            <div class="celda">{{oferta['tipo']}}</div>
            <!-- <div class="celda">{{oferta['estado']}}</div> -->
            <div class="celda" style="border-right: none; width: 8rem;">{{oferta['cantidad']}}</div>
        </div>
        <div *ngIf="Ofertas.length==0" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; text-align: center;">
            <div class="celda username" style="width: 100%; border-right: none;">No hay ofertas</div>
        </div>
    </div>
</div>

<app-ver-imagen [ngClass]="{ 'oculto':!verImg }" (messageEvent)="handleMessage($event,'crear')" [imagenes]="imagenes" [imagen]="imgID" [verImg]="verImg"></app-ver-imagen>