<div class="borderAzul margin5 rounded datoLote" style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
        <div style="display: flex;">
            <h1 class="h1btn2">Lotes</h1>
        </div>
        <div>
            <button class="boton boton2 border rounded botones" (click)="crear=!crear">Crear lote</button>
        </div>
    </div>
    <div style="border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%;"></div>
    <div style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; align-items: center; border-right: none;">
        <div class="celda" style="border-right: none; display: flex; width: 100%;">
            <div class="col-3" style="width: 27.2%; border-right: 1px solid rgb(48, 131, 220, 0.2);">
                <input type="text" class="effect-1" [(ngModel)]="datoBuscar" placeholder="Ingrese un dato para buscar" style="height: 2rem; width: 100%;">
                <span class="focus-border2"></span>
            </div>
            <div class="col-3" style="width: 7rem;">
                <select class="effect-1" [(ngModel)]="tipoBuscar" style="width: 100%; height: 2rem;">
                    <option value='titulo' selected>Titulo</option>
                    <option value='uuid'>ID</option>  
                    <option value='uuid_evento'>ID Evento</option>  
                    <option value='precio_base'>Monto arranque</option>
                    <!-- <option value='incremento'>Incremento</option>     -->
                    <option value='precio_salida'>Precio salida</option> 
                </select>
                <span class="focus-border2"></span>
            </div>
            <button class="border rounded boton boton2 paginacion" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="buscarDato()">Buscar</button>
        </div>
    </div>
    <div style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%; align-items: center;">
        <div class="celda" style="width: 17rem;">ID</div>
        <div class="celda" style="width: 20%;">Titulo</div>
        <div class="celda" style="width: 17rem;">ID Evento</div>
        <div class="celda username" style="width: 10%;">Monto arranque</div>
        <!-- <div class="celda username" style="width: 10%;">Incremento</div> -->
        <div class="celda username" style="width: 10%;">Precio salida</div>
        <div class="celda username" style="width: 5%;">Visitas</div>
        <div class="celda username" style="width: 5%;">Ofertas</div>
        <div class="celda username" style="width: 10%;">Oferta ganadora</div>
        <div class="celda username" style="width: 10%;">Oferta actual</div>
        <div class="celda username" style="width: 5%;">Estado</div>
        <div class="celda" style="border-right: none; display: flex; width: 20%; justify-content: flex-end;">
            <div class="col-3" style="width: 60%;">
                <select class="effect-1" [(ngModel)]="ordenar" (change)="cargarLotes()" style="width: 100%; height: 2rem;">
                    <option value='_id' selected hidden>Ordenar</option>    
                    <option value='titulo'>Titulo</option>
                    <option value='precio_base'>Monto arranque</option>
                    <!-- <option value='incremento'>Incremento</option>     -->
                    <option value='precio_salida'>Precio salida</option>    
                    <option value='disponible'>Disponibilidad</option>
                    <option value='visitas'>Visitas</option>    
                    <option value='ofertas'>Ofertas</option>        
                    <option value='_id'>Default</option>    
                </select>
                <span class="focus-border2"></span>
            </div>
            <div class="col-3" style="width: 40%;">
                <select class="effect-1" [(ngModel)]="orden" (change)="cargarLotes()" style="width: 100%; height: 2rem;">
                    <option value='1' selected>Asc.</option>    
                    <option value='-1'>Desc.</option>  
                </select>
                <span class="focus-border2"></span>
            </div>
        </div>
    </div>
    <h2 *ngIf="!error && total==-1" class="load"><i class="fa-solid fa-spinner ispinner" style="font-size: 3rem;"></i> Cargando</h2>
    <h2 *ngIf="error">Error al cargar lotes</h2>
    <h2 *ngIf="total==0">No hay lotes para mostrar</h2>
    <div *ngFor="let lote of Lotes" class="linea" style="display: flex; border-bottom: 1px solid rgb(48, 131, 220, 0.2); width: 100%;">
        <div class="celda" style="width: 17rem;">{{lote['uuid']}}</div>
        <div class="celda" style="width: 20%;"><i class="fa-solid fa-circle" [ngClass]="{ 'rojo':!lote['disponible'], 'verde':lote['disponible'] }"></i>{{lote['titulo']}}</div>
        <div class="celda" style="width: 17rem;">{{lote['evento'] ? lote['evento'].uuid_evento : '-'}}</div>
        <div class="celda username" style="width: 10%;">{{lote['moneda']}} {{lote['precio_base']}}</div>
        <!-- <div class="celda username" style="width: 10%;">{{lote['moneda']}} {{lote['incremento']}}</div> -->
        <div class="celda username" style="width: 10%;">{{(lote['precio_salida']!='null' && lote['precio_salida']!='') ? lote['moneda']+' '+lote['precio_salida'] : '-'}}</div>
        <div class="celda username" style="width: 5%;">{{lote['visitas']}}</div>
        <div class="celda username" style="width: 5%;">{{lote['ofertas'].total[0] ? lote['ofertas'].total[0].count : '-'}}</div>
        <div class="celda username" style="width: 10%;">{{lote['precio_ganador'] ? lote['moneda']+' '+lote['precio_ganador'] : '-'}}</div>
        <div class="celda username" style="width: 10%;">{{lote['oferta'] ? lote['moneda']+' '+lote['oferta']['cantidad'] : '-'}}</div>
        <div class="celda username" style="width: 5%;">{{lote['estado']==1 ? 'Abierto' : lote['estado']==2 ? 'Finalizado' : '-'}}</div>
        <div class="celda" style="border-right: none; display: flex; justify-content: flex-end; font-size: medium; padding-top: 0.5%; padding-bottom: 0.5%; width: 20%;">
            <i class="fa-regular fa-eye boton2 border rounded ibtn" (click)="verLote(lote['uuid'],1);"></i>
            <i class="fa-solid fa-pen-to-square boton2 border rounded ibtn" (click)="verLote(lote['uuid'],2);"></i>
            <i class="fa-solid fa-copy boton2 border rounded ibtn" (click)="duplicar(lote['_id'],lote['titulo']);"></i>
            <i class="fa-solid fa-trash-can boton2 border rounded ibtn" (click)="eliminar(lote['uuid'],lote['titulo'],lote['disponible'])"></i>
        </div>
    </div>
    <div style="font-family: Avenir; margin-top: 2%; display: flex; justify-content: flex-end; width: 100%; align-items: center;">
        Pagina {{pagina+1}} de {{pagU}}
        <div style="margin-right: 2%; margin-left: 2%;">
            <button class="border rounded boton boton2 paginacion" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" (click)="principio()">Principio</button>
            <button class="border rounded boton boton2 paginacion" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="atras()">Atras</button>
            <button class="border rounded boton boton2 paginacion" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="siguiente()">Siguiente</button>    
            <button class="border rounded boton boton2 paginacion" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="final()">Final</button>
        </div>
        Lotes totales: {{total}}
    </div>
</div>

<app-crear-lote [ngClass]="{ 'oculto':!crear }" (messageEvent)="handleMessage($event,'crear')"></app-crear-lote>
<app-ver-lote [ngClass]="{ 'oculto':!ver }" (messageEvent)="handleMessage($event,'ver')" [lote]="loteModal"></app-ver-lote>
<app-editar-lote [ngClass]="{ 'oculto':!editar }" (messageEvent)="handleMessage($event,'editar')" [lote]="loteModal"></app-editar-lote>