<div id="myModal" class="modal" style="overflow: auto;">
    <div class="modal-content" style="width: 50%;">
        <div style="display: flex; justify-content: flex-end; font-size: x-large;">
            <i class="fa-solid fa-xmark icerrar"></i>
        </div>
        <label>Titulo: </label><span class="msg">*{{alertas[0]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="text" placeholder="Titulo" style="height: 2.5rem;" [(ngModel)]="datos[0]">
            <span class="focus-border2"></span>
        </div>
        <label>Descripcion: </label><span class="msg">*{{alertas[1]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <div>
                <div class="main-container">
                    <div class="editor-container editor-container_classic-editor" #editorContainerElement>
                        <div class="editor-container__editor">
                            <div #editorElement >
                                <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" [(ngModel)]="datos[1]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>Moneda: </label><span class="msg">{{alertas[2]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <select class="effect-1" [(ngModel)]="datos[2]" style="width: 100%; height: 2.5rem;">
                <option value='ars' selected>Peso Argentino (ARS)</option>
                <option value='usd'>Dolar Americano (USD)</option>    
            </select>
            <span class="focus-border2"></span>
        </div>
        <div class="border rounded glass colorWhite" style="width: 100%; margin-bottom: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;">
                No utilice separadores de miles.<br>
                Utilice el PUNTO (.) como separador de decimales.    
            </span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: row; margin-bottom: 2%;">
            <div style="display: flex; flex-direction: column; width: 32%; margin-right: 2%;">
                <div style="display: flex; flex-direction: row;"><label>Precio base: </label><span class="msg">*{{alertas[3]}}</span></div>
                <input class="effect-1" type="text" placeholder="Precio base" style="height: 2.5rem;" [(ngModel)]="datos[3]">
                <span class="focus-border2" style="position: relative !important;"></span>
            </div>
            <div style="display: flex; flex-direction: column; width: 32%; margin-right: 2%;">
                <div style="display: flex; flex-direction: row;"><label>Incremento minimo: </label><span class="msg">*{{alertas[4]}}</span></div>
                <input class="effect-1" type="text" placeholder="Incremento minimo" style="height: 2.5rem;" [(ngModel)]="datos[4]">
                <span class="focus-border2" style="position: relative !important;"></span>
            </div>
            <div style="display: flex; flex-direction: column; width: 32%;">
                <div style="display: flex; flex-direction: row;"><label>Precio salida: </label><span class="msg">{{alertas[5]}}</span></div>
                <input class="effect-1" type="text" placeholder="Precio salida" style="height: 2.5rem;" [(ngModel)]="datos[5]">
                <span class="focus-border2" style="position: relative !important;"></span>
            </div>
        </div>
        <label>Aclaracion: </label><span class="msg">{{alertas[6]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <input class="effect-1" type="text" placeholder="Aclaracion" style="height: 2.5rem;" [(ngModel)]="datos[6]">
            <span class="focus-border2"></span>
        </div>
        <label>Terminos y condiciones del lote: </label><span class="msg">*{{alertas[8]}}</span>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <embed width="100%" height="450px" [src]="pdf" style="margin-bottom: 2%;">
            <input type="file" name="pdfTC" id="pdfTC" accept=".pdf," (change)="showPDF($event)" style="height: 2rem;">    
        </div>
        <label>Imagenes del lote: </label><span class="msg">*{{alertas[7]}}</span>
        <div>
            <span *ngFor="let src of sources">
                <img id=foto{{src.id}} src="{{src.link}}" alt="" style="width: 100px;">
                <ng-container [ngTemplateOutlet]='src.id % 8 == 0 ? even_tpl : odd_tpl' [ngTemplateOutletContext]="{srcid:src.id}"></ng-container>

                <ng-template #odd_tpl let-srcid='srcid'></ng-template>
                <ng-template #even_tpl let-srcid='srcid'>
                    <br>
                </ng-template>
            </span>
        </div>
        <input type="file" name="imagen" id="imagen" accept="image/*," multiple (change)="showImg($event)" style="margin-bottom: 2%; height: 2rem;">
    </div>
</div>
