<div class="navbar glassAzul">
    <div style="align-items: center; display: flex; height: 100%;"><div class="logo" style="cursor: pointer;" routerLink=''><span>Gruppo DF</span><span class="imagenLogo"></span></div></div> 
    <div *ngIf="widthC!=undefined && cap!=undefined && widthC>cap else mobile">
        <div class="btnnav" [ngClass]="{'activa' : activa=='inicio'}" (click)="activar('inicio')" routerLink='panelAdmin'><span>Inicio</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='usuarios'}" (click)="activar('usuarios')" routerLink='usuarios'><span>Usuarios</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='web'}" (click)="activar('web')" routerLink='web'><span>Web</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='lotes'}" (click)="activar('lotes')" routerLink='lotes'><span>Lotes</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='eventos'}" (click)="activar('eventos')" routerLink='publicaciones'><span>Publicaciones</span></div>
    </div>
    <div>
        <div *ngIf="User!=''" class="btnnav" [ngClass]="{'activa' : activa=='login'}">
            <span class="ingresar">
                <i class="fa-solid fa-user iuser">
                </i><span class="username">{{User}}</span>
            </span>
        </div>
    </div>
    <ng-template #mobile>
        <div style="display: flex;">
            <i [ngClass]="{'fa-bars' : !menuOpen, 'fa-xmark' : menuOpen}" class="fa-solid" (click)="open()"></i>    
        </div>
    </ng-template>
</div>
<div *ngIf="widthC!=undefined && cap!=undefined && widthC<cap" class="menu glassAzulTrue" [ngClass]="{'none' : !menuOpen}">
    <div (click)="activar('inicio')" routerLink='panelAdmin'><span>Inicio</span></div>
    <div (click)="activar('usuarios')" routerLink='usuarios'><span>Usuarios</span></div>
    <div (click)="activar('web')" routerLink='web'><span>Web</span></div>
    <div (click)="activar('lotes')" routerLink='lotes'><span>Lotes</span></div>
    <div (click)="activar('eventos')" routerLink='publicaciones'><span>Publicaciones</span></div>
</div>