@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import 'ckeditor5/ckeditor5.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --amarello: rgb(48, 131, 220)/*rgb(228, 176, 16)*/;
    --amarelloD: rgb(48, 131, 220, 0.3)/*rgba(228, 176, 16, 0.75)*/;
    --black: rgb(20,20,20);
    --white: #F9F9F9;
    --blue: rgb(255, 144, 0)/*rgb(48, 131, 220)*/;
    --blueD: rgb(255, 144, 0, 0.75)/*rgba(48, 131, 220, 0.75)*/;
}
body {
    font-family: Shameimaru Sans;
    margin: 0;
}
h1{
    font-family: Avenir;
}
.glass {
    background-color: var(--blue);  
}
.glassTrue {
    backdrop-filter: blur(17px) saturate(179%);
    -webkit-backdrop-filter: blur(17px) saturate(179%);
    background-color: var(--blueD);  
    span{
        color: var(--white);
    }
}
.glassAzul {
    background-color: var(--amarello);  
}
.glassTrueAzul {
    backdrop-filter: blur(17px) saturate(179%);
    -webkit-backdrop-filter: blur(17px) saturate(179%);
    background-color: var(--amarelloD);  
    span{
        color: var(--white);
    }
}
.svh{
    min-height: 100vh;
    justify-content: center;
    display: flex;
}
.seccion{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.bgA{
    background-image: url('../public/blurry-gradient-haikei1.webp');
    background-repeat:no-repeat;
    background-size:cover;
}
.rounded{
    border-radius: 12px;
}
.border{
    border: 1px solid rgb(255, 144, 0, 0.2);
}
.borderAzul{
    border: 1px solid rgb(48, 131, 220, 0.2);
}
.borderAzulG{
    border: 2px solid rgb(48, 131, 220);
}
.boton{
    font-family: Avenir;
    &:hover{
        background-color: var(--amarello);
        color: var(--white);
        cursor: pointer;
        transition: all 250ms linear;
    }
}
a{
    font-size: small;
    cursor: pointer;
    color: var(--amarello);
    &:hover{
        text-decoration: underline;
        color: var(--white);
        transition: all 0.1s linear;
    }
}
.margin5, .margin5text{
    margin: 5rem;
    padding: 1rem;
    @media (max-width: 1000px){
        margin-left: 2rem;
        margin-right: 2rem;
        .margin5text{
            margin-top: 0rem;
            margin-bottom: 0rem;
        }
    }
    @media (max-width: 500px){
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 0rem;
    }
}
:focus{outline: none;}
.col-3{ position: relative;}
input, textarea{font: 15px/24px "Avenir"; color: #333; box-sizing: border-box;}
select{font: 15px/24px "Avenir"; color: #333; box-sizing: border-box;}
.effect-1{border: 0; background: var(--white); z-index: 0;}
.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: var(--amarello); transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-1 ~ .focus-border2{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: var(--blue); transition: 0.4s;}
.effect-1:focus ~ .focus-border2{width: 100%; transition: 0.4s;}

.triR{
    border-top: 16px solid var(--white);
    border-bottom: 16px solid var(--white);
    border-left: 20px solid var(--amarello);
}
.triL{
    border-top: 16px solid var(--white);
    border-bottom: 16px solid var(--white);
    border-right: 20px solid var(--amarello);
}
.selected{
    background-color: var(--amarello) !important;
    color: var(--white);
}
.botones{
    height: 3rem;
    width: 11rem;
    font-size: larger;
    @media (max-width: 710px){
        width: 7rem;
    }
}
.oculto{
    display: none;
}
button{
    font-family: Avenir;
}
.username{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ispinner{
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    color: var(--amarello);
}
  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.colorBlue{
    color: var(--amarello) !important;
}
.colorWhite{
    color: var(--white);
}
.changed{
    background-color: var(--amarello) !important;
    color: var(--white) !important;
}

.msg{
    color: red;
    font-weight: lighter;
    font-family: 'avenir';
}

input::file-selector-button {
    font-family: Avenir;
    border-radius: 12px;
    border: 1px solid rgb(255, 144, 0, 0.2);
    background-color: var(--white);
    height: 2rem;
}
input::file-selector-button:hover {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: all 250ms linear;
}

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
    width: 100%;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

/* .editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
} */

.rojo{
    color:red
}
.verde{
    color:green
}
.bgred:hover{
    background-color: red;
}
.boton2{
    &:hover{
        background-color: var(--blue);
        color: var(--white);
    }
    transition: all 0.2s linear;
}
.blink {
	-webkit-animation: pulse 2s 2 alternate;
	        animation: pulse 2s 2 alternate;
}
@-webkit-keyframes pulse {
	0% { background-color: none; }
	100% { background-color: var(--amarello); }
}
@keyframes pulse {
	0% { background-color: none; }
	100% { background-color: var(--amarello); }
}

.mat-expansion-panel-header-title.mat-expansion-panel-header-title, .mat-expansion-panel-header-description.mat-expansion-panel-header-description {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 16px;
    align-items: center;
    justify-content: space-between;
}
.mat-expansion-panel.mat-expansion-panel {
    box-sizing: content-box;
    display: block;
    margin: 0;
    overflow: hidden;
    transition: margin 225mscubic-bezier(0.4, 0, 0.2, 1), box-shadow 280mscubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    background-color: var(--amarello);
    color: var(--white);
    border: 1px solid rgb(255, 144, 0, 0.2);
    border-radius: 12px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.mat-expansion-panel-header.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0px;
    border-radius: inherit;
    transition: height 225mscubic-bezier(0.4, 0, 0.2, 1);
    height: var(--mat-expansion-header-collapsed-state-height);
    font-family: var(--mat-expansion-header-text-font);
    font-size: var(--mat-expansion-header-text-size);
    font-weight: var(--mat-expansion-header-text-weight);
    line-height: var(--mat-expansion-header-text-line-height);
    letter-spacing: var(--mat-expansion-header-text-tracking);
    font-size: medium;
    &:hover{
        background-color: var(--amarello) !important;
    }
}