<div id="myModal" class="modal" style="overflow: auto;">
    <div class="modal-content" style="width: 90%;">
        <div style="display: flex; justify-content: flex-end; font-size: x-large; margin-bottom: 2%;">
            <i [ngClass]="{'fa-regular' : !fav, 'fa-solid': fav}" class="fa-star icerrar" style="margin-right: 3rem;" (click)="setFavorito()"></i>
            <i class="fa-solid fa-xmark icerrar" (click)="cerrarModal()"></i>
        </div>
        <div class="border rounded glass colorWhite" style="margin-bottom: 2%; padding: 0.5rem;">
            <span *ngIf="flagTimer" style="margin-right: 5%; width: 95%; display: flex; justify-content: flex-end;">
                <i class="fa-solid fa-calendar-days" style="margin-right: 1%;"></i> Finaliza en {{totalDays}} Dias {{remHours}}h {{remMinutes}}m {{remSeconds}}s
            </span>
            <span *ngIf="!flagTimer" style="margin-right: 5%; width: 95%; display: flex; justify-content: flex-end;">
                <i class="fa-solid fa-calendar-days" style="margin-right: 1%;"></i> Lote finalizado
            </span>
        </div>
        <div style="display: flex; margin-bottom: 2%;">
            <div class="border rounded" style="text-align: center; width: 60%; border-top-right-radius: 0;">
                <div style="padding: 1%; padding-top: 3%;">
                    <label>Imagenes del lote: (click sobre las imagenes para expandir)</label>
                </div>
                <div style="margin: 1.5%; padding: 1%; padding-top: 3%; border-top: 1px solid rgb(255, 144, 0, 0.2);">
                    <span *ngFor="let src of imagenes">
                        <img id=foto{{src.id}} src="{{src.link}}" alt="" style="width: 100px; cursor: pointer;" (click)="verImagen(src.id)">
                    </span>
                </div>
            </div>
            <div style="width: 40%;">
                <div class="border rounded" style="width: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                    <span style="margin: 1.5%; display: block; font-family: Avenir; padding: 1%; padding-top: 3%;">
                        Publicacion: {{evento['nombre']}}
                    </span>
                    <span style="margin: 1.5%; display: block; font-family: Avenir; border-top: 1px solid rgb(255, 144, 0, 0.2); padding: 1%; padding-top: 3%;">
                        Lote: {{lote['titulo']}}
                    </span>
                    <span *ngIf="evento['publicar_cierre']" style="margin: 1.5%; display: block; font-family: Avenir; border-top: 1px solid rgb(255, 144, 0, 0.2); padding: 1%; padding-top: 3%;">
                        Fecha de cierre: {{evento['fecha_cierre']}} {{evento['hora_cierre']}}
                    </span>
                    <span *ngIf="evento['mostrar_precio']" style="margin: 1.5%; display: block; font-family: Avenir; border-top: 1px solid rgb(255, 144, 0, 0.2); padding: 1%; padding-top: 3%;">
                        {{lote['base_salida'] ? 'Precio base' : 'Monto arranque'}}: {{lote['moneda']}} {{lote['precio_base']}}
                    </span>
                    <span [className]="blink" style="margin: 1.5%; display: block; font-family: Avenir; border-top: 1px solid rgb(255, 144, 0, 0.2); padding: 1%; padding-top: 3%;">
                        Oferta actual: {{precio_actual==null ? '-' : precio_actual}} {{same ? '(Usted)' : ""}}
                    </span>
                    <span [className]="blink" *ngIf="evento['mostrar_ofertas']" style="margin: 1.5%; display: block; font-family: Avenir; border-top: 1px solid rgb(255, 144, 0, 0.2); padding: 1%; padding-top: 3%;">
                        Cantidad de ofertas: {{cantidad_ofertas==null ? '-' : cantidad_ofertas}}
                    </span>
                    <span [className]="blink" *ngIf="evento['mostrar_ganadores']" style="margin: 1.5%; display: block; font-family: Avenir; border-top: 1px solid rgb(255, 144, 0, 0.2); padding: 1%; padding-top: 3%;">
                        Ganador actual: {{ganador==null ? '-' : ganador}} {{same ? '(Usted)' : ""}}
                    </span>
                </div>
                <div class="border rounded glass colorWhite" style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
                    <span style="margin: 1.5%; display: block; font-family: Avenir;">
                        Cotizar segun lo observado en la exhibicion y en las imagenes aportadas para cada fin. Ofertar segun los montos esperados por el vendedor. Leer las condiciones de venta Particulares.<br>
                        Nota: Vehiculos de recupero de robo para transferir y en el estado que se encuentran y exhiben, los vehiculos no poseen garantia.
                    </span>
                </div>
                <!-- <div class="border rounded glassAzul colorWhite" style="width: 100%; margin-bottom: 2%;">
                    <span style="margin: 1.5%; display: block; font-family: Avenir;">
                        <label style="text-decoration: underline;">ATENCION</label><br>
                        Ofertando en este lote se estan aceptando los <i class="fa-solid fa-landmark"></i> terminos y condiciones
                    </span>
                </div> -->
            </div>
        </div>
        <mat-expansion-panel hideToggle class="border rounded glassAzul colorWhite">
            <mat-expansion-panel-header class="glassAzul colorWhite">
                <mat-panel-title class="glassAzul colorWhite">
                    <span class="colorWhite" style="margin: 1.5%; display: block; font-family: Avenir;">
                        <label style="text-decoration: underline;">ATENCION</label><br>
                        Ofertando en este lote se estan aceptando los <i class="fa-solid fa-landmark"></i> terminos y condiciones
                    </span>
                    <span class="colorWhite" style="margin: 1.5%; display: flex; font-family: Avenir; align-items: center;">
                        <i class="fa-solid fa-bars textWhite" style="margin-right: 0.5rem; cursor: pointer;"></i>
                        <span class="textWhite" style="cursor: pointer; margin-right: 2rem;">Ver T&C</span>         
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-3" style="display: flex; flex-direction: column;">
                <embed *ngIf="pdf!=null" width="100%" height="600px" [src]="pdf" type='application/pdf'>
            </div>
        </mat-expansion-panel>
        <div *ngIf="evento['estado']==1" style="width: 100%; margin-bottom: 2%; margin-top: 2%; display: flex; align-items: center; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
            <div style="width: 30rem;">
                <div class="col-3">
                    <div style="display: flex; justify-content: space-between; height: 2rem;">
                        <label>Realizar oferta</label>
                        <span style="font-family: Avenir;">Incremento minimo (INC): {{lote['moneda']}} {{lote['incremento']}}</span>
                    </div>
                    <div style="display: flex;">
                        <span class="border glass colorWhite" style="height: 2.5rem; height: 2.5rem; display: flex; 
                        align-items: center; padding-left: 1%; padding-right: 1%;">{{lote['moneda']}}</span>
                        <input class="effect-1" type="number" min="{{lote['precio_base']}}" [(ngModel)]="oferta" placeholder="Oferta" style="height: 2.5rem; width: 100%;">
                        <button class="border boton boton paginacion" style="height: 2.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="ofertar()">Ofertar</button>
                        <span class="focus-border2"></span>
                    </div>
                </div>
                <div style="font-family: Avenir; display: flex; justify-content: flex-end; align-items: center;">
                    <button class="border boton boton paginacion" style="width: 7rem;" (click)="oferta=(oferta==undefined ? 0 : +oferta)+ +(precio_actual ? precio_actual : lote['precio_base'])">{{precio_actual ? "Mayor oferta" : "Precio base"}}</button>
                    <button class="border boton boton paginacion" (click)="oferta=(oferta==undefined ? 0 : +oferta)+ +lote['incremento']">X1 INC</button>
                    <button class="border boton boton paginacion" (click)="oferta=(oferta==undefined ? 0 : +oferta)+ +lote['incremento']*2">X2 INC</button>
                    <button class="border boton boton paginacion" (click)="oferta=(oferta==undefined ? 0 : +oferta)+ +lote['incremento']*3">X3 INC</button>
                    <button class="border boton boton paginacion" (click)="oferta=(oferta==undefined ? 0 : +oferta)+ +lote['incremento']*10">X10 INC</button>
                </div>
            </div>
            <div style="display: flex; width: 30rem; flex-direction: column;">
                <div style="display: flex; justify-content: space-between; height: 2rem;">
                    <button class="border boton boton paginacion" style="width: 50%;" (click)="programar=!programar; ofertaAuto=null">Programar oferta automatica <i [ngClass]="{'fa-caret-down' : !programar, 'fa-caret-up' : programar}"class="fa-solid"></i></button>
                    <span *ngIf="ofertaAutoExiste!=null" style="font-family: Avenir;">Oferta automatica: {{lote['moneda']}} {{ofertaAutoExiste}}</span>
                </div>
                <div style="transform: scale3d(1, 1, 1); transform-origin: top; transition: all 0.3s ease-in;" [ngClass]="{'none2' : !programar}">
                    <div class="col-3">
                        <div class="border rounded glass colorWhite" style="margin-bottom: 2%; margin-top: 2%;">
                            <span style="margin: 1.5%; display: block; font-family: Avenir;">
                                El sistema intentara generar una oferta por el precio actual mas un incremento minimo, siempre y cuando el precio actual del lote no sea mayor o igual al monto maximo configurado por Ud.
                            </span>
                        </div>
                        <button class="border boton boton paginacion bgred" style="width: 100%;" (click)="eliminarOferta()"><i class="fa-solid fa-trash-can" style="margin-right: 2%;"></i>Eliminar oferta programada</button>
                        <div style="display: flex;">
                            <span class="border glass colorWhite" style="height: 2.5rem; height: 2.5rem; display: flex; 
                            align-items: center; padding-left: 1%; padding-right: 1%;">{{lote['moneda']}}</span>
                            <input class="effect-1" type="number" min="0" [(ngModel)]="ofertaAuto" placeholder="Oferta automatica" style="height: 2.5rem; width: 100%;">
                            <button class="border boton boton paginacion" style="height: 2.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="programarOferta()">Programar</button>
                            <span class="focus-border2"></span>
                        </div>
                    </div>
                    <div style="font-family: Avenir; display: flex; justify-content: flex-end; align-items: center; width: 100%;">
                        <button class="border boton boton paginacion" (click)="ofertaAuto=(ofertaAuto==undefined ? 0 : +ofertaAuto)+ +lote['incremento']*10">X10 INC</button>
                        <button class="border boton boton paginacion" (click)="ofertaAuto=(ofertaAuto==undefined ? 0 : +ofertaAuto)+ +lote['incremento']*20">X20 INC</button>
                        <button class="border boton boton paginacion" (click)="ofertaAuto=(ofertaAuto==undefined ? 0 : +ofertaAuto)+ +lote['incremento']*30">X30 INC</button>
                        <button class="border boton boton paginacion" (click)="ofertaAuto=(ofertaAuto==undefined ? 0 : +ofertaAuto)+ +lote['incremento']*40">X40 INC</button>
                        <button class="border boton boton paginacion" (click)="ofertaAuto=(ofertaAuto==undefined ? 0 : +ofertaAuto)+ +lote['incremento']*50">X50 INC</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <label>Descripcion: </label>
        <div class="border rounded" style="width: 100%; margin-bottom: 2%; margin-top: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;" [innerHTML]="lote['descripcion'] | sanitizeHtml"></span>
        </div> -->
        <div class="border rounded glassAzul colorWhite" style="width: 100%; margin-bottom: 2%;">
            <span style="margin: 1.5%; display: block; font-family: Avenir;">
                <label style="text-decoration: underline;">Informacion adicional del lote: </label><br><br>
                {{lote['aclaracion']=='' ? 'No hay informacion adicional' : lote['aclaracion']}}
            </span>
        </div>
        <!-- <label>Terminos y condiciones del lote: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%;">
            <embed *ngIf="pdf!=null" width="100%" height="600px" [src]="pdf" type='application/pdf'>
        </div> -->
    </div>
</div>

<app-ver-imagen [ngClass]="{ 'oculto':!verImg }" (messageEvent)="handleMessage($event)" [imagenes]="imagenes" [imagen]="imgID" [verImg]="verImg"></app-ver-imagen>